     /\  \         /\  \         /\__\          ___   
     \:\  \       /::\  \       /:/  /         /\  \  
      \:\  \     /:/\:\  \     /:/__/          \:\  \ 
       \:\  \   /::\~\:\  \   /::\__\____      /::\__\
 _______\:\__\ /:/\:\ \:\__\ /:/\:::::\__\  __/:/\/__/
 \::::::::/__/ \/__\:\/:/  / \/_|:|~~|~    /\/:/  /   
  \:\~~\~~          \::/  /     |:|  |     \::/__/    
   \:\  \           /:/  /      |:|  |      \:\__\    
    \:\__\         /:/  /       |:|  |       \/__/    
     \/__/         \/__/         \|__|                 
ignore Azure, GCP
